*.o
/ada/bin/
/ada/obj/
/libstemmer.a
/snowball
/stemtest
/stemwords
/dist
/java/org/tartarus/snowball/ext/
/js_out
/python_check
/python_out
*.generated.cs
/rust/Cargo.lock
/rust/src/snowball/algorithms/*.rs
/rust/target/
/go/algorithms/
/go/stemwords/algorithms.go
